In [49]:
# Importing modules that will be used in this notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
# Adding Data
## Reading in data from local csv using pandas read_csv function
comparison_df = pd.read_csv('County_Comparison.csv')
comparison_df.head()

# Identify the types of each column
print(comparison_df.dtypes)

NAME                         object
SLUG                         object
LIFE-EXPECTANCY-AT-BIRTH    float64
DATE-OF-INFORMATION         float64
INTERNET-USERS              float64
REGION                       object
dtype: object

In [51]:
# Manipulating Data
# using the drop function to get rid of unnecessary columns
clean_comparison_df = comparison_df.drop(columns=['SLUG', 'DATE-OF-INFORMATION'])
clean_comparison_df.head()

,NAME,LIFE-EXPECTANCY-AT-BIRTH,INTERNET-USERS,REGION
0,Afghanistan,53.65,7007101.0,South Asia
1,Albania,79.47,2043251.0,Europe
2,Algeria,78.03,27626157.0,Africa
3,American Samoa,75.32,17147.0,Australia and Oceania
4,Andorra,83.42,71084.0,Europe

In [65]:
ranked_comparison_df = clean_comparison_df.copy()
ranked_comparison_df['Life_Expectancy_Rank'] = ranked_comparison_df['LIFE-EXPECTANCY-AT-BIRTH'].rank(ascending=False)

# sorting dataframe by life expectancy rank in descending order
sorted_comparison_df = ranked_comparison_df.sort_values(by='Life_Expectancy_Rank')
sorted_comparison_df.head()

,NAME,LIFE-EXPECTANCY-AT-BIRTH,INTERNET-USERS,REGION,Life_Expectancy_Rank
135,Monaco,89.52,37798.0,Europe,1.0
183,Singapore,86.35,5230942.0,East and Southeast Asia,2.0
122,Macau,84.98,571421.0,East and Southeast Asia,3.0
102,Japan,84.83,1621552.0,East and Southeast Asia,4.0
176,San Marino,83.86,20318.0,Europe,5.0

In [71]:
median_expectancy = str(sorted_comparison_df['LIFE-EXPECTANCY-AT-BIRTH'].median())
print ("The median life expectancy for all countries is " + median_expectancy + " years.")

The median life expectancy for all countries is 75.8 years.

In [90]:
result = sorted_comparison_df.groupby('REGION').agg({'LIFE-EXPECTANCY-AT-BIRTH': ['median']})
print ('Here are the median life expectancies of all countires in each region:')
print (result)

Here are the median life expectancies of all countires in each region:
                                  LIFE-EXPECTANCY-AT-BIRTH
                                                    median
REGION
Africa                                              65.850
Australia and Oceania                               75.950
Central America and the Caribbean                   77.905
Central Asia                                        72.395
East and Southeast Asia                             75.825
Europe                                              81.510
Middle East                                         76.515
North America                                       81.000
South America                                       75.405
South Asia                                          72.355